body {
  font-family: 'Open Sans';
  background-image: url('../fondo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  display: flex;
}

.banner-img {
  display: flex;
  justify-content: center;
}

.contacto{
  width: 100%;
  margin-top: 55px;
}
.contactanos {
  text-align: center;
  color: white;
  }

.whatsapp {
  margin-left: 45%;
}

.gmail {
  margin-left: 50%; margin-top: -50px;
}

.moto {
  margin-top: 200px;
  margin-left: 95px;
  display: inline-block;
  vertical-align: middle;}

.moto img {
  width: 250px;
  height: 150px;
  border-radius: 5px;}

.efectivo {
  margin-top: 200px;
  margin-left: 100px;
  display: inline-block;
  vertical-align: middle;}

.efectivo img {
  width: 250px;
  height: 150px;
  border-radius: 5px;}

.equipo {
  margin-top: 200px;
  margin-left: 100px;
  display: inline-block;
  vertical-align: middle;}

.equipo img {
  width: 250px;
  height: 150px;
  border-radius: 5px;}


@media (min-width: 768px) {
  .container{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3em;
  }

  .producto{
    width: 23%;
  }

  .banner {
    width: 100%;
    overflow: hidden;
  }

  .banner-img img {
    width: 80%;
    height: auto;
  }

}
